<form action="/updatequ" method="POST">
    <div>
    <input type="number" name="qID" value="<%= questions[0].qID %>"/>
</div>
<div><input type="text" name="question" value="<%= questions[0].Question %>" placeholder="Enter your question"  /></div>
<div><input type="text" name="Statement1" value="<%= questions[0].Statement1 %>" placeholder="Enter your Statement"  /></div>
<div><input type="text" name="Statement2" value="<%= questions[0].Statement2 %>" placeholder="Enter your Statement"  /></div>
<div><input type="text" name="Statement3" value="<%= questions[0].Statement3 %>" placeholder="Enter your Statement"  /></div>
<div><input type="text" name="Statement4" value="<%= questions[0].Statement4 %>" placeholder="Enter your Statement"  /></div>
<div><input type="text" name="Option1" value="<%= questions[0].Option1 %>" placeholder="Enter your option"  /></div>
<div><input type="text" name="Option2" value="<%= questions[0].Option2 %>" placeholder="Enter your option"  /></div>
<div><input type="text" name="Option3" value="<%= questions[0].Option3 %>" placeholder="Enter your option"  /></div>
<div><input type="text" name="Option4" value="<%= questions[0].Option4 %>" placeholder="Enter your option"  /></div>
<div><input type="submit" value="submit" /></div>
</form>